<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Permisos existentes -->
    <uses-permission android:name="android.permission.INTERNET"/>
    
    <!-- Añadir estos permisos -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:label="educode"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <!-- ... resto del contenido ... -->
    </application>
</manifest>